.header {
  background-color: rgba(255, 255, 255, 0.815);
  align-items: center;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
  height: 4rem;
  color: red;
  //   position: fixed;
  z-index: 999;
  transition: all 0.3s;
  padding: 3rem 10%;
  font-size: 1.8rem;
}

// nav {
// }

.nav_links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav_links li {
  padding: 0px 1rem;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #0088a9;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.active-link {
  border-bottom: 1px solid grey;
}
