$S: '(max-width: 765px)';
$M: '(min-width: 766px) and (max-width: 1199px)';
$L: '(min-width: 1200px)';

.users {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 35em) {
  #content {
    width: 50%;
  }
}
