$playColor: #1db954;
$playColorlight: #14e95e;
$backgroundColorLight: #121212;
$backgroundColor: #000;
$controlStrip: #242424;
$fontColor: #b3b3b3;
$highlightColor: #fff;
$activeTab: #f0f0f028;
$boxBorder: #f0f0f019;
$shadow: 0px 0px 15px rgba(2, 2, 2, 0.2);
